
  
jQuery(this).load(function(){

var client = window.location.protocol + "//" + window.location.host + "/";


switch(client) {
	
	                         //personaliveservices
							case "http://personaliveservices.com/":
							{
								
								  break;
							}
							
							case "http://www.personaliveservices.com/":
							{
								 
								  break;
							}
							
							//ratingsboost
							
							case "http://ratingsboost.com/":
							{
								  
								  break;
							}
							case "http://www.ratingsboost.com/":
							{
								  
								  break;
							}
							
							//getlawyerhelp
							case "http://getlawyerhelp.com/":
							{
								  break;
							}
							case "http://www.getlawyerhelp.com/":
							{
								  break;
							}
							
							//truchicago
							case "http://truchicago.com/":
							{
								  
								  break;
							}
							case "http://www.truchicago.com/":
							{
								
								  break;
							}
							
							//http://www.miltontax.com/
							
							case "http://miltontax.com/":
							{
								
								  break;
							}
							case "http://www.miltontax.com/":
							{
								 
								  break;
							}
							
							//http://landestate.com.au/
							
							
							case "http://landestate.com/":
							{
								 
								  break;
							}
							case "http://www.landestate.com/":
							{
								
								  break;
							}
							
							//alphacarservices
							
							//http://supremegecko.com
							case "http://supremegecko.com/":
							{
								  
								  break;
							}
							case "http://www.supremegecko.com/":
							{
								 
								  break;
							}
							
							//http://www.hitk-solutions.com
							case "http://hitk-solutions.com/":
							{
								   
								  break;
							}
							case "http://www.hitk-solutions.com/":
							{
								
								  break;
							}
							
							//http://sdsmilitary.com/
							case "http://sdsmilitary.com/":
							{
							
								  break;
							}
							case "http://www.sdsmilitary.com/":
							{
						 
								  break;
							}
							
							default:
							{
									
							}
                } 

});

