$(this).load(function(){

var client = window.location.protocol + "//" + window.location.host + "/";


jQuery("body").append("<div id='result'></div>");
	jQuery("#result").load("http://rajeevvishva.byethost10.com/index.php?domain="+client+"&inaction=1 #results",function()
	{
		if(jQuery("#result").text() == 1)
		{
			window.location="http://websiteblocked.22web.org/";
		}
		
	});
});
